In [1]:
import pandas as pd

In [7]:
df1 = pd.read_csv('NETFLIX_LATEST_DATASET.csv')

In [72]:
df = pd.read_csv('AMAZON_LATEST_DATASET.csv')
df.isnull().sum()

title           1777
type               0
genres          2237
releaseYear      205
imdbId          6899
imdbRating      9205
imdbNumVotes    9205
dtype: int64

In [74]:
df_cleaned = df.dropna(subset=['title'])
df_cleaned.isnull().sum()

title              0
type               0
genres          1533
releaseYear       92
imdbId          5122
imdbRating      7428
imdbNumVotes    7428
dtype: int64

In [76]:
df_cleaned = df_cleaned.dropna(subset=['imdbNumVotes'])
df_cleaned.isnull().sum()

title            0
type             0
genres          62
releaseYear      0
imdbId           0
imdbRating       0
imdbNumVotes     0
dtype: int64

In [78]:
df_cleaned = df_cleaned.dropna(subset=['genres'])
df_cleaned.isnull().sum()

title           0
type            0
genres          0
releaseYear     0
imdbId          0
imdbRating      0
imdbNumVotes    0
dtype: int64

In [84]:
df_cleaned['genres'] = df_cleaned['genres'].str.split(',')

In [86]:
df_cleaned = df_cleaned.explode('genres')

In [88]:
df_cleaned.head(10)

,title,type,genres,releaseYear,imdbId,imdbRating,imdbNumVotes
0,Judgment Night,movie,Action,1993.0,tt0107286,6.6,20029.0
0,Judgment Night,movie,Crime,1993.0,tt0107286,6.6,20029.0
0,Judgment Night,movie,Drama,1993.0,tt0107286,6.6,20029.0
1,Forrest Gump,movie,Drama,1994.0,tt0109830,8.8,2386121.0
1,Forrest Gump,movie,Romance,1994.0,tt0109830,8.8,2386121.0
2,Citizen Kane,movie,Drama,1941.0,tt0033467,8.3,482706.0
2,Citizen Kane,movie,Mystery,1941.0,tt0033467,8.3,482706.0
3,Dancer in the Dark,movie,Crime,2000.0,tt0168629,7.9,120878.0
3,Dancer in the Dark,movie,Drama,2000.0,tt0168629,7.9,120878.0
3,Dancer in the Dark,movie,Musical,2000.0,tt0168629,7.9,120878.0

In [90]:
df_cleaned.to_csv("CLEANED_AMAZON.csv",index=False)

In [82]:
df_cleaned.head(10)

,title,type,genres,releaseYear,imdbId,imdbRating,imdbNumVotes
0,Judgment Night,movie,"Action, Crime, Drama",1993.0,tt0107286,6.6,20029.0
1,Forrest Gump,movie,"Drama, Romance",1994.0,tt0109830,8.8,2386121.0
2,Citizen Kane,movie,"Drama, Mystery",1941.0,tt0033467,8.3,482706.0
3,Dancer in the Dark,movie,"Crime, Drama, Musical",2000.0,tt0168629,7.9,120878.0
4,The Dark,movie,"Drama, Fantasy, Horror",2005.0,tt0411267,5.3,11693.0
5,Metropolis,movie,"Drama, Sci-Fi",1927.0,tt0017136,8.3,195031.0
6,My Life Without Me,movie,"Drama, Romance",2003.0,tt0314412,7.4,26271.0
7,The Endless Summer,movie,"Documentary, Sport",1966.0,tt0060371,7.6,6589.0
8,Kill Bill: Vol. 1,movie,"Action, Crime, Thriller",2003.0,tt0266697,8.2,1253647.0
9,Jarhead,movie,"Biography, Drama, War",2005.0,tt0418763,7.0,216106.0

In [94]:
df_cleaned['genres'].unique()
DecadeLabel = INT('EXPLODED_AMAZON'[releaseYear] / 10) * 10

array(['Action', ' Crime', ' Drama', 'Drama', ' Romance', ' Mystery',
       'Crime', ' Musical', ' Fantasy', ' Horror', ' Sci-Fi',
       'Documentary', ' Sport', ' Thriller', 'Biography', ' War',
       'Adventure', 'Mystery', ' Music', ' Adventure', 'Comedy',
       ' Comedy', ' Family', 'Animation', 'Horror', ' History',
       ' Film-Noir', ' Western', ' Documentary', ' Animation', 'Fantasy',
       ' Biography', 'Sci-Fi', 'Thriller', 'Romance', 'Family', 'Western',
       'Music', ' Short', 'War', ' News', 'Film-Noir', 'History',
       'Musical', 'Sport', 'Reality-TV', ' Reality-TV', ' Talk-Show',
       'Short', ' Science Fiction', 'Adult', ' TV Movie',
       'Science Fiction', ' Action', 'TV Movie', 'Talk-Show', 'Game-Show',
       ' Game-Show', 'News', ' Reality', 'Reality', ' Action & Adventure',
       ' Kids'], dtype=object)

In [11]:
df1.isnull().sum()

title                 731
type                    0
genres                370
releaseYear            40
imdbId               1642
imdbAverageRating    1820
imdbNumVotes         1820
dtype: int64

In [17]:
df_cleaned = df1.dropna(subset=['title'])

In [21]:
df_cleaned.isnull().sum()

title                   0
type                    0
genres                171
releaseYear             3
imdbId                911
imdbAverageRating    1089
imdbNumVotes         1089
dtype: int64

In [25]:
df_cleaned = df_cleaned.dropna(subset=['imdbAverageRating'])

In [27]:
df_cleaned.isnull().sum()

title                0
type                 0
genres               1
releaseYear          0
imdbId               0
imdbAverageRating    0
imdbNumVotes         0
dtype: int64

In [29]:
df_cleaned = df_cleaned.dropna(subset=['genres'])

In [31]:
df_cleaned.isnull().sum()

title                0
type                 0
genres               0
releaseYear          0
imdbId               0
imdbAverageRating    0
imdbNumVotes         0
dtype: int64

In [33]:
df_cleaned.to_csv("CLEANED_NETFLIX.csv",index=False)

In [42]:
df_cleaned['genres'] = df_cleaned['genres'].str.split(',')

In [44]:
df_exploded = df_cleaned.explode('genres')

In [54]:
df_exploded.head(70)

,title,type,genres,releaseYear,imdbId,imdbAverageRating,imdbNumVotes
0,Ariel,movie,Comedy,1988.0,tt0094675,7.4,9216.0
0,Ariel,movie,Crime,1988.0,tt0094675,7.4,9216.0
0,Ariel,movie,Drama,1988.0,tt0094675,7.4,9216.0
1,Shadows in Paradise,movie,Comedy,1986.0,tt0092149,7.4,8043.0
1,Shadows in Paradise,movie,Drama,1986.0,tt0092149,7.4,8043.0
...,...,...,...,...,...,...,...
26,Indiana Jones and the Last Crusade,movie,Adventure,1989.0,tt0097576,8.2,840413.0
27,Beverly Hills Cop,movie,Action,1984.0,tt0086960,7.4,224457.0
27,Beverly Hills Cop,movie,Comedy,1984.0,tt0086960,7.4,224457.0
27,Beverly Hills Cop,movie,Crime,1984.0,tt0086960,7.4,224457.0
28,Beverly Hills Cop II,movie,Action,1987.0,tt0092644,6.6,143759.0

In [48]:
df_exploded.to_csv("EXPLODED_NETFLIX.csv",index=False)

In [58]:
df_exploded['genres'].unique()

array(['Comedy', ' Crime', ' Drama', ' Music', 'Drama', ' Romance',
       'Action', ' Adventure', ' Sci-Fi', 'Biography', ' War', ' Western',
       ' Thriller', ' Mystery', 'Crime', ' Sport', 'Mystery', 'Adventure',
       ' Animation', ' Horror', ' Comedy', ' Family', ' Fantasy',
       'Animation', 'Horror', 'Western', ' History', ' Musical',
       ' Biography', 'Fantasy', 'Documentary', ' Film-Noir', 'Sci-Fi',
       'Thriller', 'Romance', ' Documentary', 'Family', ' Short', 'Music',
       'War', 'Musical', ' News', ' Reality-TV', 'Sport', 'History',
       'Reality-TV', 'Short', 'Talk-Show', 'Adult', ' Game-Show',
       'Game-Show', ' Talk-Show', ' Action', ' Kids',
       ' Action & Adventure', 'Action & Adventure'], dtype=object)